<% content_for(:title,  @genre.name) %>
<div class="jumbotron">
	<img style="float:left" src="<%= @genre.photo_url %>"/>
	<div class="genres-text" >
		<div class="col-sm-8 mx-auto">
			<h1><%= @genre.name %></h1>
			<p><%= @genre.desc %></p>
			<% if user_signed_in? %>
				<% if not @user_genres.include?(@genre) %>
					<a class="btn btn-primary" href="/genres/<%= @genre.id %>/follow/" role="button">Follow!</a>
				<% else %>
					<a class="btn btn-danger" href="/genres/<%= @genre.id %>/unfollow/" role="button">UnFollow!</a>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<% if @movies.any? %>
	<h2>Movies that has the genre</h2>
	<div class="row">
		<% @movies.each do |movie| %>
		<div class="col-md-4">
			<img src="<%= movie.photo %>">
			<h2 class="movie-title"><%= movie.title %></h2>
			<p><%= movie.desc.first(400) %></p>
			<p><a class="btn btn-info" href="/movies/<%= movie.id %>" role="button">View details </a></p>
		</div>
		<% end %>
	</div>
<% end %>