<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @genre.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @genre.desc %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @genre.photo_url %>
</p>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
