<%= form_with(model: movieperson, local: true) do |form| %>
  <% if movieperson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movieperson.errors.count, "error") %> prohibited this movieperson from being saved:</h2>

      <ul>
      <% movieperson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <select name="movieperson[person_id]">
        <% @people.each do |person| %>
          <option value="<%= person.id %>"><%= person.name %></option>
        <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :movie_id %>
    <select name="movieperson[movie_id]">
        <% @movies.each do |movie| %>
          <option value="<%= movie.id %>"><%= movie.title %></option>
        <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :role_name %>
    <%= form.text_field :role_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
