<% content_for(:title,  @person.first_name + " " + @person.last_name) %>
<div class="jumbotron">
	<div class="clearfix" >
		<img style="float:left" src="<%= @person.photo_url %>" class="person_image"/>
		<div class="person-text">
			<div class="col-sm-8 mx-auto">
				<h1><%= @person.first_name %> <%= @person.last_name %></h1>
				<p> <%= @person.bio %></p>
				<% if user_signed_in? %>
					<% if not @user_people.include?(@person) %>
						<a class="btn btn-primary" href="/people/<%= @person.id %>/like/" role="button">Like!</a>
					<% else %>
						<a class="btn btn-danger" href="/people/<%= @person.id %>/unlike/" role="button">UnLike!</a>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<% if @person.movies.any? %>
	<h2>Movies that the person plays</h2>
	<div class="row">
		<% @person.movies.each do |movie| %>
		<div class="col-md-4">
			<img src="<%= movie.photo %>">
			<h2 class="movie-title"><%= movie.title %></h2>
			<p><%= movie.desc.first(400) %></p>
			<p><a class="btn btn-info" href="/movies/<%= movie.id %>" role="button">View details </a></p>
		</div>
		<% end %>
	</div>
<% end %>