<form action="/movies/<%= @movie.id %>/add_person" method="POST">
	<select name="movie[person_id]" class="form-control">
		<% @people.each do |person| %>
			<option value="<%= person.id %>"><%= person.first_name %> <%= person.last_name %>(<%= person.role.title %>)</option>
		<% end %>
	</select>
	<br/>
	<input type="submit" class="btn btn-primary">

</form>