<h1>Adding Movie</h1>

<%= form_for :movie, url: movies_path do |f| %>
    <% if @movie.errors.any? %>
        <% @movie.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
    <% end %>
    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title,  class: "form-control text"%> 
    </p>
    <p>
        <%= f.label :desc %><br/>
        <%= f.text_area :desc,  class: "form-control text"%> 
    </p>

    <p>
        <%= f.label :photo %><br/>
        <%= f.text_field :photo,  class: "form-control text"%> 
    </p>

    <p>
    </p>
    <p>
        <%= f.label :genre %><br/>
        <select name="movie[genre_id]" class="form-control">
            <% @genres.each do |genre| %>
              <option value="<%=genre.id%>"><%=genre.name%></option>
            <% end %>
        </select>
    </p>
    <p>
        <%= f.submit class: "btn btn-primary" %>
    </p
<% end %>

