<div class="jumbotron">
	<div class="clearfix" >
		<img style="float:left" src="<%= @movie.photo%>"/>
		<div class="person-text">
			<div class="col-sm-8 mx-auto">
				<h1><%= @movie.title %></h1>
				<p><%= @movie.desc %></p>
			</div>
		</div>
	</div>
</div>
<h2> The Cast</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <% @movie.people.each do |person| %>
    <tr>
      <td><%= person.first_name %></td>
      <td><%= person.last_name %></td>
      <td><%= person.role.title%></td>
    </tr>
    <% end %>
  </tbody>
</table>