<% content_for(:title,  @movie.title ) %>
<div class="jumbotron">
	<div class="clearfix" >
		<img style="float:left" src="<%= @movie.photo%>"/>
		<div class="person-text">
			<div class="col-sm-8 mx-auto">
				<h1><%= @movie.title %> (<%= @movie.relase_date.year %>)</h1>
				<p><%= @movie.desc %></p>
        <p> Genres: <% @movie.genres.each do |genre| %>
              <%= genre.name %>,
            <% end %>
        </p>
			</div>
		</div>
	</div>
</div>
<% if @people.any? %>
  <h2> The Cast</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">First</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
      <tr>
        <td><%= person.person.name %></td>
        <td><%= person.role_name %></td> 
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>